html{
  padding: 0px;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: 0px;
}
h1{
  background-color: rgb(65, 65, 65);
  margin: 0px;
  margin-bottom: 50px;
  padding : 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  object-fit: contain;
  @media (max-width: 450px) {
    padding : 0px;
    gap: 0px;
  }
}
.image-item{
max-width: 100vw;
}
.image-item img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  @media (max-width: 450px) {
    border-radius: 0px;
  }
}
.image-item img:hover {
  transform: scale(1.05);
}
.lightbox {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgb(0, 0, 0);
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
overflow: hidden;
}
.lightbox-container {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: auto;
}
.lightbox img {
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
transition: transform 0.2s ease-in-out;
transform-origin: top center; 
}
.close, .prev, .next {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgb(122, 122, 122);
color: white;
border: none;
font-size: 24px;
padding: 10px 15px;
cursor: pointer;
}
.close:hover, .prev:hover, .next:hover {
background-color: white;
color: black;
}
.close {
top: 20px;
right: 20px;
z-index: 100;
}
.prev {
left: 20px;
z-index: 100;
}
.next {
right: 20px;
}
@media (max-width: 500px) {
  .close {
    right: 0px;
  }
  .prev {
    left: 0px;
  }
  .next {
    right: 0px;
  }
}
#scroll-bottom {
border: solid black 2px;
position: fixed;
bottom: 20px;
left: 30px;
background: rgba(255, 255, 255);
color: rgb(0, 0, 0);
font-size: 18px;
padding: 10px 15px;
cursor: pointer;
border-radius: 100px;
transition: background 0.3s;
}
#scroll-bottom:hover {
background: rgb(0, 0, 0);
color: rgb(251, 251, 251);
}
#zoom-slider {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
width: 200px;
background: white;
border-radius: 5px;
}
.lightbox-active #scroll-bottom {
display: none;
}
img{
user-select: none;
}

.img-info{
position:absolute;
z-index: 100;
left : 0px;
top: 0px;
padding: 7px 3px 7px 10px;
display: flex;
background-color: rgba(0, 0, 0, 0.66);
}

.img-info p{
margin : 5px 20px 5px 0px;
}

.img-info p:nth-child(2){
color: rgb(206, 206, 206);
font-style: italic;
font-size: small;
margin-top : 7px;
}
